# Python
__pycache__/
*.py[cod]
*$py.class

# Build files
build/
dist/
*.egg-info/

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# OS Files
.DS_Store
Thumbs.db