streamlit

langchain==0.3.26
langchain-community==0.3.27
langchain-core==0.3.74
langchain-openai==0.3.28
langchain-groq==0.3.7
langchain-text-splitters==0.3.8

langchain-chroma==0.2.5
chromadb==1.0.15

langchain-huggingface==0.3.1
sentence-transformers

faiss-cpu
pypdf
pymupdf

beautifulsoup4
wikipedia
arxiv

duckdb
pandas

openai
ipykernel
python-dotenv
groq
duckduckgo-search
youtube_transcript_api